*:has(.caBU6Q.DKvgGQ), .sJdpWg, .i1Kwzg {
  background: none !important;
  background-image: none !important;
  background-color: transparent !important;
}

.caBU6Q.DKvgGQ {
  /* border-radius: 6px; */
}


.mffvfg, .fg9_WQ.wb6L4A {
  display: none !important;
}

.P8WPLg, .FW__Bg {
  background: #ffffff80 !important;
  backdrop-filter: blur(24px);
}

.q4EfqA {
  background: #ffffff40 !important;
  border-radius: 0px 0px 7px 0px;
}

.w8GPyg {
  background: black !important;
}
