*:has(.caBU6Q.DKvgGQ), .sJdpWg, .i1Kwzg {
  background: none !important;
  background-image: none !important;
  background-color: transparent !important;
}

.caBU6Q.DKvgGQ {
  /* border-radius: 6px; */
}


.mffvfg, .fg9_WQ.wb6L4A {
  display: none !important;
}

.q4EfqA {
  background: #ffffff80 !important;
}
