:root {
  --dt-outline-variant: #c7c7c750 !important;
}

.Oiqh8c {
  border-radius: 8px;
}

.yeLJvb {
  border-bottom: none !important;
}

.vhoiae .glX3de {
  background: none !important;
  background-color: #ffffff80 !important;
  border: none !important;
}
