.r-14lw9ot {
  background-color: transparent !important;
}

.r-jxzhtn, .r-1dgieki, .r-j5o65s {
  border-color: rgba(239, 243, 244, 0.3);
}

.r-rs99b7 {
  border: none !important;
}

.r-6026j {
  background-color: transparent !important;
}

.r-1sw30gj {
  background-color: rgba(239, 243, 244, 0.3);
}

.r-1p0dtai.r-1pi2tsx.r-1d2f490.r-u8s1d.r-ipm5af.r-13qz1uu>.css-175oi2r.r-1mlwlqe.r-1udh08x.r-417010.r-aqfbo4.r-agouwx.r-1p0dtai.r-1d2f490.r-u8s1d.r-zchlnj.r-ipm5af {
  border-radius: 6px;
}
